
<h2>Records</h2>

<div>
  <h3>Search</h3>
  <p>You can search clients by their name or by name of the master</p>
  <input [(ngModel)]="findWord" type="text" >
  <button (click)="find()">find</button>
</div>
<hr>
<div>
  <button (click)="add()" *ngIf="!isButtonClicked">Add a record</button>
  <app-add-record [record]="record" [clients]="clients" *ngIf="isButtonClicked"></app-add-record>
  <button (click)="close()" *ngIf="isButtonClicked">close</button>

</div>

<h3>All records</h3>

<table>
  <tr>
    <th>id</th>
    <th>date</th>
    <th>client name</th>
    <th>type of work</th>
    <th>master's name</th>
    <th>UPDATE/DELETE</th>
  </tr>
  <tr *ngFor="let r of records">
    <td>{{r.id}}</td>
    <td>{{r.date}}</td>
    <td>{{r.client.name}}</td>
    <td>{{r.client.typeOfWork}}</td>
    <td>{{r.client.mastersName}}</td>
    <td>
      <button (click)="update(r)">update</button>
      <button (click)="delete(r)">delete</button>
    </td>
  </tr>
</table>
