
<h2>Clients</h2>

<div>
  <h3>Search</h3>
  <p>You can search clients by their name or by name of the master</p>
  <input [(ngModel)]="findWord" type="text" >
  <button (click)="find()">find</button>
</div>
<hr>
<div>
  <button (click)="add()" *ngIf="!isButtonClicked">Add a client</button>
  <app-add-client [client]="client" *ngIf="isButtonClicked"></app-add-client>
  <button (click)="close()" *ngIf="isButtonClicked">close</button>
</div>

<h3>All clients</h3>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>type of work</th>
    <th>master's name</th>
    <th>UPDATE/DELETE</th>
  </tr>
  <tr *ngFor="let c of clients">
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.typeOfWork}}</td>
    <td>{{c.mastersName}}</td>
    <td>
          <button (click)="update(c)">update</button>
          <button (click)="delete(c)">delete</button>
    </td>
  </tr>
</table>
