
<div class="flex">
  <div class="flex">
    <label class="block">name</label>
    <input class="block" [(ngModel)]="name" type="text">
  </div>

  <div class="flex">
    <label class="block">Type of work</label>
    <input class="block" [(ngModel)]="typeOfWork" type="text">
  </div>

  <div class="flex">
     <label class="block">master's name</label>
     <input class="block" [(ngModel)]="mastersName" type="text">
   </div>

  <button (click)="addButtonClick()" *ngIf="client.id == 0">add</button>
  <button (click)="updateButtonClick()" *ngIf="client.id != 0">update</button>
</div>

<hr>
