
<div class="flex">
  <div class="flex">
    <label class="block">date</label>
    <input class="block" [(ngModel)]="time" type="text">
  </div>

  <div class="flex">
    <label class="block">Client</label>
    <select class="block" [(ngModel)]="clientId" >
      <option *ngFor="let c of clients" value="{{c.id}}">{{c.id}} | {{c.name}} | {{c.typeOfWork}} | {{c.mastersName}}</option>
    </select>
  </div>

  <button (click)="addButtonClick()" *ngIf="record.id == 0">add</button>
  <button (click)="updateButtonClick()" *ngIf="record.id != 0">update</button>
</div>

<hr>


